language: node_js
node_js:
  - "10"

sudo: required

dist: trusty

before_install:
  - wget https://github.com/ethereum/solidity/releases/download/v0.4.24/solc-static-linux
  - chmod ugo+x solc-static-linux
  - mv solc-static-linux /usr/bin/solc

install:
  - npm install
  - npm install -g eslint solium

script:
  - npm run eslint && npm run solium && npm run test

